<article class="listing">
  <h3>{{post.title}}</h3>
  <div class="detail author">
    <span>Author:</span> {{post.author}}
  </div>
  <div class="detail subject">
    <span>Subject:</span> {{post.subject}}
  </div>
</article>
