<article class="listing">
  <h3>{{#link-to "all-posts.show" post}}{{post.title}}{{/link-to}}</h3>
  <div class="detail author">
    <span>Author:</span> {{post.author}}
  </div>
  <div class="detail subject">
    <span>Subject:</span> {{post.subject}}
  </div>
</article>
