<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Some Posts</h2>
  <p>
    The Some Posts website is a delightful project created to explore Ember.
  </p>
  {{#link-to 'all-posts' class="button"}}
    Get Started!
  {{/link-to}}
</div>
