<div class="jumbo">
  <div class="right tomster"></div>
  <h2>All Posts</h2>
  <p>All Posts Representatives would love to help you.</p>
  {{#link-to 'about' class="button"}}
    About
  {{/link-to}}
</div>

{{#list-filter
   filter=(action 'filterBySubject')
   as |post|}}
  <ul class="results">
    {{#each model as |postUnit|}}
      {{post-listing post=postUnit}}
    {{/each}}
  </ul>
{{/list-filter}}
