<div class="jumbo">
  <div class="right tomster"></div>
  <h2>All Posts</h2>
  <p>All Posts Representatives would love to help you.</p>
  {{#link-to 'about' class="button"}}
    About
  {{/link-to}}
</div>

{{#each model as |posts|}}
  <article class="listing">
    <h3>{{posts.title}}</h3>
    <div class="detail owner">
      <span>Author:</span> {{posts.author}}
    </div>
    <div class="detail type">
      <span>Subject:</span> {{posts.subject}}
    </div>
  </article>
{{/each}}
